<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SorteoFFA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   La configuraciÃƒÆ’Ã‚Â³n de la aplicaciÃƒÆ’Ã‚Â³n de usuario y de la propiedad configurada van aquÃƒÆ’Ã‚Â­.-->
    <!--   Ejemplo: <add key="settingName" value="settingValue"/>  Trusted_Connection=True -->
    <add key="Conexion" value="SERVER=.;Database=Seguridad2;Trusted_Connection=True;Timeout=60"/>
    <add key="ConexionComun" value="SERVER=.;Database=Comun;Trusted_Connection=True;Timeout=60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SorteoFFA.My.MySettings>
      <setting name="Width" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>260</value>
      </setting>
      <setting name="ImgDir" serializeAs="String">
        <value>X:\2011_FONDO.jpg</value>
      </setting>
    </SorteoFFA.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
